/* CUSTOM STYLES */

        html {
            background-color: #FFF;
            color: #000;
            font-size: 1em;
            font-family: "Source-Sans", 'Arial', sans-serif;
        }

        a {
            color: #000;
        }
        a:hover,
        a:focus,
        a:active {
                text-decoration: underline;
        }
        @font-face {
                font-family: "Source-Sans";
                src:url(/style/SourceSans3-Regular.ttf) format("truetype"); /* Safari, Android, iOS */
                font-display: swap;
                }

        .siteHeader {
            border-bottom: 1px solid #CCCCCC;
            box-shadow: 2px 4px 6px 1px rgba(50, 50, 50, 0.14);
        }

        .siteHeader-title {
            background-color: #222222;
        }

        .siteHeader-title a {
           color: #fff;
        }

        /* horizontal line */
        hr {    display:block;
                width:75%;
                height:1px;
                border:0;
                border-top:1px solid #ccc;
                margin:1em auto;
                padding:0
}
