@font-face{
    font-family: "FontAwesome";
    font-weight:normal;
    src:local("FontAwesome"),
        local("font-awesome");
    src:url(https://daqhris.com/style/font/fontawesome-webfont.ttf) format("truetype"), /* Safari, Android, iOS */
        url(https://daqhris.com/style/font/fontawesome-webfont.woff) format("woff"), /* Pretty Modern Browsers */
        url(https://daqhris.com/style/font/fontawesome-webfont.eot) format("eot"); /* IE6+ Compat Modes */
    font-display: swap;
}
@font-face{
    font-family: "MerriweatherSans-Light";
    font-weight:normal;
    src:url(https://daqhris.com/style/font/MerriweatherSans-Light.ttf) format("truetype"); /* Safari, Android, iOS */
    font-display: swap;
}
@font-face{
    font-family: "MillerTextRoman";
    font-weight:normal;
    src:url(https://daqhris.com/style/font/MillerTextRoman.ttf) format("truetype"); /* Safari, Android, iOS */
    font-display: swap;
}
@font-face{
    font-family: "Inconsolata";
    font-weight:normal;
    src:url(https://daqhris.com/style/font/Inconsolata-Regular.ttf) format("truetype"); /* Safari, Android, iOS */
    font-display: swap;
}
html{background-color:#fff;color:#1d1d1f;font:1em "MillerTextRoman", serif;direction: ltr;line-height: 1.5}
a{color:#1d1d1f;background-color:transparent;text-decoration:none;}
a:hover,
a:focus,
a:active,
a:link:focus, a:link:active {outline: .0625‬em solid #3740ff;color:#3740ff}
p{margin:0 0 .5em;padding:0;}
hr{display:block;width:25%;height:.0625em;border:0;border-top:.0625em solid #ccc;margin:1em auto;padding:0}
body{margin:1em;padding:1em}
footer,header,nav{display:block}
h1{font-size:1.25em;margin:.5em .5em}
h2{font-size:1.125em;margin:.25em .25em}
section{margin:.25em 1em}
small{font-size:75%}
hr{box-sizing:content-box}
nav{margin:.25em;}
code{font-family:"Inconsolata", monospace;background-color: #F5F5F5}
.siteContainer{margin:.5em 1.5em;}
.siteHeader{text-align:center;padding:1em;border-bottom:.0625em solid #CCC;box-shadow: .125em .125em .75em .25em rgba(50, 50, 50, 0.14);}/*box-shadow: third value adds blur effect and fourth value defines the spread of the shadow*/
.siteHeader-title{border-radius:.25em;display:inline-block;line-height:2em;padding:.25em .75em;background-color:#3D3D3D}
.siteHeader-title a{color:#fff}
.siteHeader-description{font-size:.75em;margin:2em 2em 1em;font-family: "MerriweatherSans-Light", sans-serif;}
.siteDescription{margin:.5em;font-family: "MillerTextRoman", serif;}
.siteProjects{display:inline-block;font-size:.75em;margin:.25em;}
.siteNav{font-size:1em}
.siteNav-pages{list-style:none;margin:.5em;padding:0;font-size:.875em;font-family: "MerriweatherSans-Light", sans-serif;}
.siteNav-pages>li{display:block;margin:.2em;padding:.1em}
.siteNav-social{list-style:none;margin:1em 0;padding:0}
.siteNav-social>li{display:inline-block;margin:.25em;padding:.25em;color:#3D3D3D}
.siteFooter{text-align:center;font-size:.875em;margin:1em 2em;}
/*Font Awesome 4.7.0 by @davegandy. Below are font codes extracted from "font-awesome.min.css"*/
.fa{display:inline-block;font:normal normal normal .875em/1 "FontAwesome";font-size:inherit}
.fa-2x{font-size:2em}
.fa-envelope-o:before{content:"\f003"}
.fa-code:before{content:"\f121"}
.fa-picture-o:before{content:"\f03e"}
/*Custom CSS*/
.button {border: none;background-color:#F5F5F5;display: inline-block;cursor: pointer;box-shadow: 0 .125em .3125em 0 #ccc;padding: .625em;border-radius: .125em;}
.text-link{color:#0057af} /*Colored links*/
.underline{border-bottom-width:.1em;border-bottom-style: solid} /*Underlined links at the bottom*/
.lang-button{line-height: 1em;font-family: "MerriweatherSans-Light", sans-serif;}
/*Different screen sizes, different appearance rules*/
/*Tiny screen*/
@media (max-width: 320px) {
    body {
        font-size: .59375em; /*9.5px*/
        margin: .25em;
        padding: .25em;
    } 
}
/*Small screen*/
@media (min-width: 320px) and (min-width: 320px){
    body {
        font-size: .75em; /*12px*/
        margin: .5em;
        padding: .5em;
    } 
}
/*Mobile screen*/
@media (min-width: 375px) {
    body {
        font-size: .875em; /*14px*/
        margin: .75em;
        padding: .75em;
    }
}
/*Phablet screen*/
@media (min-width: 425px) {
    body {
        font-size: 1em; /*16px*/
        margin: .75em;
        padding: .75em;
    } 
}
/*Tablet screen*/
@media (min-width: 768px) and (min-height:320px){
    body {
        font-size: 1.125em; /*18px*/
        margin: .875em;
        padding: .875em;
    }
}
/*Laptop screen*/
@media (min-width: 1024px) and (min-height: 425px) {
    body {
        font-size: 1.25em; /*20px*/
        margin: 1em;
        padding: 1em;
    }
}
/*Desktop HD screen*/
@media (min-width: 1440px) and (min-height: 768px) {
    body {
        font-size: 1.5em; /*24px*/
        margin: 1.125em;
        padding: 1.125em;
    }
}
/*4K screen*/
@media (min-width: 2560px) and (min-height: 1024px){
    body {
        font-size: 2.5em; /*40px*/
        margin: 2em;
        padding: 2em;
    }
}
/*8K screen*/
@media (min-width: 4320px) and (min-height: 1440px) {
    body {
        font-size: 4em; /*64px*/
        margin: 2.5em;
        padding: 2.5em;
    }
}
/*16K screen*/
@media (min-width: 8640px) and (min-height: 2560px) {
    body {
        font-size: 5em; /*80px*/
        margin: 3em;
        padding: 3em;
    }
}
/*code for dark mode*/
@media (prefers-color-scheme: dark) {
    html{background-color: #212121;color:#FFFFFF}
    .text-link{color:#007fff}
    hr{border-top-color:#F2F2F2}
    .siteHeader{border:solid #F2F2F2;background-color:#181a1b}
    .siteHeader-title{background-color:#444444}
    .siteProjects a{color:#FFFFFF}
    .underline{color:#FFFFFF}
    .siteNav-pages>li{color:#FFFFFF}
}
